n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "1219a621-f044-4d2d-bd8d-28a0ed87c555",
      "name": "Manual Trigger: Setup",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1952,
        2752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS booking_users (\n    id VARCHAR(36) PRIMARY KEY,\n    full_name VARCHAR(150) UNIQUE NOT NULL,\n    password_hash VARCHAR(255) NOT NULL,\n    phone VARCHAR(50),\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE TABLE IF NOT EXISTS bookings (\n    id VARCHAR(36) PRIMARY KEY,\n    user_id VARCHAR(36) REFERENCES booking_users(id),\n    customer_name VARCHAR(100) NOT NULL,\n    customer_phone VARCHAR(50) NOT NULL,\n    booking_date DATE NOT NULL,\n    booking_time VARCHAR(5) NOT NULL,\n    pickup_address TEXT NOT NULL,\n    destination_address TEXT NOT NULL,\n    estimated_distance REAL NOT NULL,\n    price REAL NOT NULL,\n    status VARCHAR(30) DEFAULT 'pending',\n    proposed_price REAL,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE INDEX IF NOT EXISTS idx_bookings_date_status ON bookings(booking_date, status);\nCREATE INDEX IF NOT EXISTS idx_bookings_user_id ON bookings(user_id);",
        "options": {}
      },
      "id": "ced8d78b-a093-4078-81d0-7c18bbba9c92",
      "name": "SQL: Setup Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        2752
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookings",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5ca4c8be-b3eb-4508-ab2f-a58bae640533",
      "name": "Webhook: Create Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        3104
      ],
      "webhookId": "taxi-create-booking"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (id, user_id, customer_name, customer_phone, booking_date, booking_time, pickup_address, destination_address, estimated_distance, price, status) VALUES ('{{ $json.body.bookingId || $uuid }}', {{ $json.body.userId ? \"'\" + $json.body.userId + \"'\" : 'NULL' }}, '{{ $json.body.name }}', '{{ $json.body.phone }}', '{{ $json.body.date }}', '{{ $json.body.time }}', '{{ $json.body.pickup_address }}', '{{ $json.body.destination_address }}', {{ $json.body.estimated_distance }}, {{ $json.body.price }}, 'pending') RETURNING *;",
        "options": {}
      },
      "id": "d8a2ba63-47f7-4f96-8578-883c9182d1e4",
      "name": "SQL: Save Pending Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        3104
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=🚖 NEW RIDE REQUEST\n------------------------------------\n📅 Date: {{ $json.booking_date }}\n⏰ Time: {{ $json.booking_time }}\n👤 Client: {{ $json.customer_name }}\n📞 Phone: {{ $json.customer_phone }}\n\n📍 Pickup: {{ $json.pickup_address }}\n🏁 Destination: {{ $json.destination_address }}\nℹ️ Distance: {{ $json.estimated_distance }} km\n💵 Quoted Price: {{ $json.price }} PLN\n------------------------------------\nRespond within 10 minutes!",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Confirm",
                    "additionalFields": {
                      "callback_data": "=confirm:{{ $json.id }}"
                    }
                  },
                  {
                    "text": "❌ Decline",
                    "additionalFields": {
                      "callback_data": "=decline:{{ $json.id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "➕ Counter-Offer (+20 PLN)",
                    "additionalFields": {
                      "callback_data": "=counter:{{ $json.id }}:20"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "b916bf74-e0ef-472e-b8b4-761ca9012cb9",
      "name": "Telegram: Alert Driver",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        3104
      ],
      "webhookId": "59fa92a0-f003-4d45-bd67-310c7ebe0b16",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "e784d6e6-3e93-46c4-ad1e-0827a2ff4c49",
      "name": "Wait 10 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        2944
      ],
      "webhookId": "taxi-wait-timeout"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status FROM bookings WHERE id = '{{ $('Webhook: Create Booking').item.json.body.bookingId }}';",
        "options": {}
      },
      "id": "b2022ab8-cfa6-4cd4-9e04-4ee07abc32ae",
      "name": "SQL: Check Status (Timeout)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2624,
        2944
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "761ee19f-b166-4a90-9362-aa629d00b9f8",
      "name": "If Still Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        2944
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'rejected' WHERE id = '{{ $('Webhook: Create Booking').item.json.body.bookingId }}';",
        "options": {}
      },
      "id": "9cdb57fa-ff28-4711-8585-92336a0e58fb",
      "name": "SQL: Auto-Reject",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3056,
        2896
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=⏳ Booking request for {{ $('Webhook: Create Booking').item.json.body.name }} ({{ $('Webhook: Create Booking').item.json.body.time }}) expired (10 min timeout) and has been automatically declined.",
        "additionalFields": {}
      },
      "id": "32dc30dd-e864-4ca2-a51c-19d04a18c53b",
      "name": "Telegram: Alert Timeout",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        2896
      ],
      "webhookId": "086874ec-b5b1-473e-a975-483ab882e21c",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b69feccd-1968-48a9-a898-039c46963f13",
      "name": "Telegram: Driver Callback",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1952,
        3360
      ],
      "webhookId": "taxi-driver-callback",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callbackQuery = items[0].json.callback_query;\nif (callbackQuery) {\n  const parts = callbackQuery.data.split(':');\n  const action = parts[0];\n  const bookingId = parts[1];\n  const surcharge = parts[2] ? parseFloat(parts[2]) : 0;\n  return [{\n    json: {\n      type: \"callback\",\n      action,\n      bookingId,\n      surcharge,\n      callbackQueryId: callbackQuery.id,\n      messageId: callbackQuery.message.message_id,\n      chatId: callbackQuery.message.chat.id\n    }\n  }];\n} else if (items[0].json.message) {\n  return [{\n    json: {\n      type: \"message\",\n      text: items[0].json.message.text,\n      chatId: items[0].json.message.chat.id,\n      messageId: items[0].json.message.message_id\n    }\n  }];\n}\nreturn [];"
      },
      "id": "a623f96f-acd9-4baf-998b-b15688b777bb",
      "name": "Parse Callback Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        3360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-confirm",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9596ae4d-6557-46a9-887c-5767f8e16840",
      "name": "If Action = Confirm?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        3360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'confirmed' WHERE id = '{{ $json.bookingId }}';",
        "options": {}
      },
      "id": "120c2910-3452-47dc-adeb-3721db2801ea",
      "name": "SQL: Confirm Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2640,
        3296
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-decline",
              "leftValue": "={{ $('Parse Callback Payload').item.json.action }}",
              "rightValue": "decline",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c731333b-862c-4d13-9123-60f09e913b53",
      "name": "If Action = Decline?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        3456
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'rejected' WHERE id = '{{ $('Parse Callback Payload').item.json.bookingId }}';",
        "options": {}
      },
      "id": "04a4888c-8560-469a-88f3-5bfbcd59d8b0",
      "name": "SQL: Decline Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2880,
        3424
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'counter_offer', proposed_price = price + {{ $('Parse Callback Payload').item.json.surcharge }} WHERE id = '{{ $('Parse Callback Payload').item.json.bookingId }}' RETURNING proposed_price;",
        "options": {}
      },
      "id": "f75c3a68-cbae-4674-ac19-fde0d241fc44",
      "name": "SQL: Add Price Surcharge",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2880,
        3552
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=✅ Ride confirmed! Customer has been notified.",
        "additionalFields": {}
      },
      "id": "bc7c8712-3bfc-4b36-8cc6-93c0a7222976",
      "name": "Telegram: Confirm Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2880,
        3296
      ],
      "webhookId": "474fe1f1-c647-4d61-9577-eccdff1d30db",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=❌ Ride declined.",
        "additionalFields": {}
      },
      "id": "10034fd7-c830-431c-b666-6c863ab8ea5e",
      "name": "Telegram: Decline Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3104,
        3424
      ],
      "webhookId": "80e4c590-4527-49c1-be8e-86b763b186c4",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=➕ Proposed new price: {{ $json.proposed_price }} PLN. Waiting for client response...",
        "additionalFields": {}
      },
      "id": "2fc8a310-9ce7-46de-8007-494f61c1ddbf",
      "name": "Telegram: Counter-Offer Sent Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3104,
        3552
      ],
      "webhookId": "9f455843-e044-411c-9e0f-975354536621",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "path": "bookings/status",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c4405cce-2d7a-4872-871e-c05f06d6a7a1",
      "name": "Webhook: Get Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        3712
      ],
      "webhookId": "taxi-get-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, proposed_price FROM bookings WHERE id = '{{ $json.query.id }}';",
        "options": {}
      },
      "id": "f5757a73-a36b-4caa-8a95-de67b759777b",
      "name": "SQL: Fetch Current Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        3712
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookings/action",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "293c0bcd-af72-4075-a2fd-9d234e2e0c59",
      "name": "Webhook: Client Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        3872
      ],
      "webhookId": "taxi-client-action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = '{{ $json.body.action === \"accept\" ? \"confirmed\" : \"rejected\" }}' WHERE id = '{{ $json.body.id }}' RETURNING customer_name, customer_phone, booking_time, price, status;",
        "options": {}
      },
      "id": "5dd8bbf2-e483-47cf-82fe-71a1fb610143",
      "name": "SQL: Save Client Action",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        3872
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "=💬 CLIENT RESPONSE:\nClient {{ $json.customer_name }} ({{ $json.booking_time }}) has {{ $json.status === 'confirmed' ? '✅ ACCEPTED' : '❌ DECLINED' }} your price. Final Price: {{ $json.price }} PLN.",
        "additionalFields": {}
      },
      "id": "4b77ac89-cd49-45d9-b1ed-dee499dcf4bb",
      "name": "Telegram: Alert Client Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        3872
      ],
      "webhookId": "aa0badaf-11c1-4fbd-9334-e8145248c619",
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3a8ff2e6-14f6-4814-8d6b-1626899dd41f",
      "name": "Webhook: User Auth",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        4032
      ],
      "webhookId": "taxi-user-auth"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing_user AS (\n  SELECT id, full_name, password_hash, phone FROM booking_users WHERE full_name = '{{ $json.body.fullName }}'\n),\nnew_user AS (\n  INSERT INTO booking_users (id, full_name, password_hash, phone)\n  SELECT '{{ $uuid }}', '{{ $json.body.fullName }}', '{{ $json.body.password }}', {{ $json.body.phone ? \"'\" + $json.body.phone + \"'\" : 'NULL' }}\n  WHERE NOT EXISTS (SELECT 1 FROM existing_user)\n  RETURNING id, full_name, password_hash, phone\n)\nSELECT id, full_name, password_hash, phone, 'registered' as action FROM new_user\nUNION ALL\nSELECT id, full_name, password_hash, phone, 'login' as action FROM existing_user;",
        "options": {}
      },
      "id": "7a8b064f-f784-44c0-addc-0bb37b02d616",
      "name": "SQL: Auth Router",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        4032
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = items[0]?.json;\nconst submittedPassword = $('Webhook: User Auth').item.json.body.password;\n\nif (!user) {\n  return [{ json: { success: false, error: 'no_user_returned', message: 'Ошибка при авторизации' } }];\n}\n\nif (user.action === 'login') {\n  if (user.password_hash === submittedPassword) {\n    return [{ json: { success: true, userId: user.id, fullName: user.full_name, phone: user.phone, action: 'login' } }];\n  } else {\n    return [{ json: { success: false, error: 'invalid_password', message: 'Неверный пароль для этого имени' } }];\n  }\n} else {\n  return [{ json: { success: true, userId: user.id, fullName: user.full_name, phone: user.phone, action: 'register' } }];\n}"
      },
      "id": "0d6a9846-34c3-42fb-8483-cbcdf670d497",
      "name": "Code: Verify Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        4032
      ]
    },
    {
      "parameters": {
        "path": "bookings/history",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "621a74cb-2749-4854-8d81-74a7779e27b9",
      "name": "Webhook: Get History",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        4192
      ],
      "webhookId": "taxi-bookings-history"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, booking_date, booking_time, pickup_address, destination_address, estimated_distance, price, status, proposed_price FROM bookings WHERE user_id = '{{ $json.query.userId }}' ORDER BY booking_date DESC, booking_time DESC;",
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "87c8e56b-98d1-4b7f-89ba-e47e304310f3",
      "name": "SQL: Fetch History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        4192
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e187baf9-e1b1-43fd-9bb1-aa428761b227",
      "name": "Manual Trigger: Test Telegram",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1952,
        4352
      ]
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "🔔 Test message from your Taxi Bot! If you receive this, the integration is working perfectly.",
        "additionalFields": {}
      },
      "id": "ee9d83c4-cd13-4db6-9b94-7a8b164239a0",
      "name": "Telegram: Send Test Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2176,
        4352
      ],
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "path": "bookings/slots",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c4405cce-2d7a-4872-871e-c05f06d6a7a2",
      "name": "Webhook: Get Slots",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        4512
      ],
      "webhookId": "taxi-get-slots"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT booking_time FROM bookings WHERE booking_date = '{{ $json.query.date }}' AND status IN ('pending', 'confirmed', 'counter_offer');",
        "options": {}
      },
      "id": "f5757a73-a36b-4caa-8a95-de67b759777c",
      "name": "SQL: Fetch Slots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        4512
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-callback",
              "leftValue": "={{ $json.type }}",
              "rightValue": "callback",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "81881881-8188-4818-8818-818818818818",
      "name": "If Callback or Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2384,
        3560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-contains-http",
              "leftValue": "={{ $json.text }}",
              "rightValue": "https?://",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "82882882-8288-4828-8828-828828828828",
      "name": "If Map Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        3760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO driver_location (url) VALUES ('{{ $json.text }}') RETURNING *;",
        "options": {}
      },
      "id": "83883883-8388-4838-8838-838838838838",
      "name": "SQL: Save Driver Location",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2896,
        3700
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback Payload').first().json.chatId }}",
        "text": "=✅ Location link updated successfully!\nNew URL:\n{{ $json.url }}",
        "additionalFields": {}
      },
      "id": "84884884-8488-4848-8848-848848848848",
      "name": "Telegram: Location Saved Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3152,
        3700
      ],
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Callback Payload').first().json.chatId }}",
        "text": "=❌ Link not recognized.\n\nPlease reply with a valid Google Maps location link starting with http or https.",
        "additionalFields": {}
      },
      "id": "85885858-8585-4858-8858-858858585858",
      "name": "Telegram: Invalid Link Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        3880
      ],
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "86886886-8688-4868-8868-868868868868",
      "name": "Schedule: Location Reminder",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1952,
        4500
      ]
    },
    {
      "parameters": {
        "chatId": "429593682",
        "text": "🗺️ Daily Reminder: Please reply to this message with the updated Google Maps real-time location link for the website.",
        "additionalFields": {}
      },
      "id": "87887887-8788-4878-8878-878878878878",
      "name": "Telegram: Send Location Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        4500
      ],
      "credentials": {
        "telegramApi": {
          "id": "xxCBwgC3RZjWqpt2",
          "name": "taxibook"
        }
      }
    },
    {
      "parameters": {
        "path": "driver/location",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Webhook: Get Location",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1952,
        4800
      ],
      "webhookId": "driver-location"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM driver_location ORDER BY updated_at DESC LIMIT 1;",
        "options": {}
      },
      "id": "89889899-8989-4899-8989-898989898989",
      "name": "SQL: Fetch Location",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2176,
        4800
      ],
      "credentials": {
        "postgres": {
          "id": "m0BW1GDkna5keKE9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    url: items[0].json.url\n  }\n}];"
      },
      "id": "90990990-9090-4909-9090-909909909090",
      "name": "Format Location Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        4800
      ]
    }
  ],
  "connections": {
    "Manual Trigger: Setup": {
      "main": [
        [
          {
            "node": "SQL: Setup Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Create Booking": {
      "main": [
        [
          {
            "node": "SQL: Save Pending Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save Pending Booking": {
      "main": [
        [
          {
            "node": "Telegram: Alert Driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Alert Driver": {
      "main": [
        [
          {
            "node": "Wait 10 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Minutes": {
      "main": [
        [
          {
            "node": "SQL: Check Status (Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Check Status (Timeout)": {
      "main": [
        [
          {
            "node": "If Still Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Still Pending?": {
      "main": [
        [
          {
            "node": "SQL: Auto-Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Auto-Reject": {
      "main": [
        [
          {
            "node": "Telegram: Alert Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Driver Callback": {
      "main": [
        [
          {
            "node": "Parse Callback Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback Payload": {
      "main": [
        [
          {
            "node": "If Callback or Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Action = Confirm?": {
      "main": [
        [
          {
            "node": "SQL: Confirm Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Action = Decline?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Confirm Status": {
      "main": [
        [
          {
            "node": "Telegram: Confirm Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Action = Decline?": {
      "main": [
        [
          {
            "node": "SQL: Decline Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL: Add Price Surcharge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Decline Status": {
      "main": [
        [
          {
            "node": "Telegram: Decline Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Add Price Surcharge": {
      "main": [
        [
          {
            "node": "Telegram: Counter-Offer Sent Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Status": {
      "main": [
        [
          {
            "node": "SQL: Fetch Current Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Client Action": {
      "main": [
        [
          {
            "node": "SQL: Save Client Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save Client Action": {
      "main": [
        [
          {
            "node": "Telegram: Alert Client Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: User Auth": {
      "main": [
        [
          {
            "node": "SQL: Auth Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Auth Router": {
      "main": [
        [
          {
            "node": "Code: Verify Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get History": {
      "main": [
        [
          {
            "node": "SQL: Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger: Test Telegram": {
      "main": [
        [
          {
            "node": "Telegram: Send Test Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Slots": {
      "main": [
        [
          {
            "node": "SQL: Fetch Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Callback or Message?": {
      "main": [
        [
          {
            "node": "If Action = Confirm?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Map Link?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Map Link?": {
      "main": [
        [
          {
            "node": "SQL: Save Driver Location",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Invalid Link Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Save Driver Location": {
      "main": [
        [
          {
            "node": "Telegram: Location Saved Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Location Reminder": {
      "main": [
        [
          {
            "node": "Telegram: Send Location Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Location": {
      "main": [
        [
          {
            "node": "SQL: Fetch Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL: Fetch Location": {
      "main": [
        [
          {
            "node": "Format Location Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecf635ee9e9d9c2ea172c294273065b497a0a683b79749c5cee6596dcee1f930"
  }
}